body {
  margin: 0;
  height: 100%;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.vanta-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.vt323-regular {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
.outfit-bold {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200px;
  font-style: normal;
}

.outfit-regular {
  color: white;
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: regular;
  font-style: normal;
}
.content{

  padding: 3rem 20rem 4rem 20rem;
}
.canvas{
  height:60rem;
  text-align: center;
}

.heading{
  color: rgb(185, 84, 216);
  padding-top: 17rem;
  padding-bottom: 4rem;
  font-size: 2rem;
  text-align: center;
}

.pathPage{
  color: rgb(185, 84, 216);
  padding-top: 15rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}
.text,.typewriter{
display: inline;
} 
.algHeading{
  color: rgb(185, 84, 216);
  padding-top: 8rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}

.start,.selected {
  color: #fcf2ff; /* Text color */
  font-weight: bold; /* Optional: make the text bolder */
  text-shadow:
    0 0 5px rgb(185, 84, 216), /* First orange glow layer (innermost) */
    0 0 10px rgb(164, 48, 199), /* Second orange glow layer */
    0 0 15px rgb(142, 39, 173), /* Third orange glow layer (outermost) */
    0 0 20px rgba(185, 84, 216,0.5); /* Orange glow with transparency */
  animation: glow 1.5s ease-in-out infinite alternate;
}

.mute{
  position: absolute;
  
  left: 2rem;
}
.close{
 
    position: absolute;
    
    left: 1.8vw;
  z-index: 1;
}
.mute:hover{
  color: rgb(185, 84, 216);
}
.bgm{
  opacity: 0;
}
.back{
  
  font-size: 1.5rem;
  padding-top: 2rem;
}
@keyframes glow {
  from {
    text-shadow:
      0 0 0 rgb(185, 84, 216),
      0 0 0 rgb(185, 84, 216),
      0 0 0 rgb(185, 84, 216),
      0 0 0 rgba(255, 165, 0, 0);
  }
  to {
    text-shadow:
      0 0 5px rgb(185, 84, 216),
      0 0 10px rgb(185, 84, 216),
      0 0 15px rgb(185, 84, 216),
      0 0 20px rgba(169, 32, 211, 0.582);
  }
}
.zoomed{
  color: white;
  animation: zoom 0.5s ease-in-out infinite alternate;
}
.goback{
  color: white;
  outline: none;
  animation: back 0.5s ease-in-out infinite alternate;
}
@keyframes zoom{
  from{
    font-size: 2rem;
  }
  to{
    color: rgb(185, 84, 216);
    font-size: 2.5rem;
  }
}

@keyframes back{
  from{
    font-size: 1.5rem;
    color: white;
  }
  to{
    font-size: 2rem;
    color: rgb(184, 41, 228);
  }
}

.visualisation{
  background-color: black;
  height: 100vh;
}
.center{

  position: absolute;
  bottom: 1rem;
  left: 40vw;
  z-index: 1;

}
.next{
  position: absolute;
  bottom: 1rem;
  right: 2rem;
  z-index: 1;
}
.prev{
  position: absolute;
  bottom: 1rem;
  left: 2rem;
  z-index: 1;
}
.center.step{
  left: 46vw;
}

.modal{
  overflow-y: scroll;
  scrollbar-width: 0;
  position: absolute;
  border-radius: 2rem;
  font-family: "Space Mono";
  width: 40%;
  height: 30%;
right: 3vw;
  top: 3vh;
  background-color: rgb(20, 0, 26);
  z-index: 5;
}

.closemodal{
  position: inherit;
  top: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  right: 1rem;
  font-size: 1.5rem;
  font-family: 'Space Mono';
}

.grid{
  position: absolute;
    top: 2.8vh;
    left: 1.8vw;
  z-index: 1;
}
.axes{
  position: absolute;
    top: 5.6vh;
    left: 1.8vw;
  z-index: 1;
}
.skip{
  position: absolute;
    top: 8.4vh;
    left: 1.8vw;
  z-index: 1;
}
.prev.random{
  bottom: 3%;
}
.prev.slider{
  bottom: 8vh;
}
.prev.label{
  bottom: 9vh;
}
.prev.upload{
  bottom: 2vh;
}
.textip,.textip:focus,.textip:active{
  background-color: transparent;
  color: white;
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  border: 0;
}
.fileip{
  visibility: hidden;
}
span {
  text-align: justify;
}

.descdiv{
  padding: 5vh 15vw;
}

.alghead{
  padding-top: 3vh;
  padding-bottom: 3vh;
  font-size: 2rem;
  text-align: center;
}

.desc p{
  text-align: justify;
  font-size: 0.9rem;
}
.seevis{
  text-align: center;
}